@using CoachEasy.Common
@{
    this.ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-3">COACH EASY</h1>
    <div>
    <span class="display-4 text-break text-">
        Welcome to Coach Easy.
        </span>
    </div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
