@using CoachEasy.Common
@{
    this.ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-3">COACH EASY</h1>
    <div>
        <span class="display-4 text-break text-">
            Welcome to Coach Easy.
        </span>
    </div>
</div>
<hr />
<div class="jumbotron jumbotron-fluid orangebackground">
    <div class="container">
        <h1 class="display-4 text-center">About us</h1>
        <p class="lead font-weight-normal">
            Are you new to basketball, looking for a way to start or you're experienced and just want to work on yourself? You've come to the right place.Our website provides variety of workouts depending on which position you want to look into and get better at, coaches who've worked with NBA players and are waiting for you.
        </p>
    </div>
</div>
<hr />
<img src="https://www.fiveminutesspare.com/nba/wp-content/uploads/sites/21/2019/04/Basketball-positions-2.jpg"  style="max-width:65%" alt="Alternate Text" />