@using CoachEasy.Common
@{
    this.ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-3">COACH EASY</h1>
    <div>
        <span class="display-4 text-break text-">
            Welcome to Coach Easy.
        </span>
    </div>
</div>

<body>
    <h4 class="box"><text class="text-inside">Are you new to basketball, looking for a way to start or you're experienced and just want to work on yourself? You've come to the right place.</text></h4>
</body>

Our website provides variety of workouts depending on which position you want to look into and get better at, coaches who've worked with NBA players and are waiting for you. Our coaches provide monthly courses and seasonal camps