@{
    this.ViewData["Title"] = "Email Sent";
}
<div class="container">
    <h2>Your email was sent!</h2>
    <h3>Our team will get in touch with you shortly!</h3>
    <div>
      <a asp-controller="Player" asp-action="All" type="button" class="btn btn-info">Return</a>
    </div>
</div>