@model CreateCourseInputModel
@using CoachEasy.Web.ViewModels.Coaches;
@using CoachEasy.Data.Models.Enums;
@{
    ViewData["Title"] = "Create";
}

<div class="form container">
    <div class="d-flex justify-content-center">
        <div class="row">
            <div class="col-lg-12">
                <h2>Add Course</h2>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form method="post" class="text-center border border-light p-5" enctype="multipart/form-data">
                <div class="form-row mb-4">
                    <div class="col">
                        <label asp-for="Name" class="font-weight-bold"></label>
                        <input asp-for="Name" class="form-control">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="PositionName" class="font-weight-bold"></label>
                        <select asp-for="PositionName" class="form-control" asp-items="@Html.GetEnumSelectList<PositionName>()"></select>
                        <span asp-validation-for="PositionName" class="text-danger"></span>
                    </div>
                </div>

                <div class="col my-3">
                    <label asp-for="StartDate"  class="font-weight-bold"></label>
                    <input asp-for="StartDate"  class="form form-control-file" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="col my-3">
                    <label asp-for="EndDate" class="font-weight-bold"></label>
                    <input asp-for="EndDate" class="form form-control-file" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
                <div class="col my-3">
                    <label asp-for="Image" class="font-weight-bold"></label>
                    <input asp-for="Image" class="form form-control-file" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="col my-3">
                    <label asp-for="Description" class="font-weight-bold"></label>
                    <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <hr />
                <button class="btn btn-info btn-lg my-1" type="submit">Create</button>
            </form>
        </div>
    </div>
</div>
