.image-resizer {
    margin-top: 20px;
    margin-right: -20px; 
    margin-left: 23px;
}

.text-colorise{
    text-decoration-color:mediumpurple;
}

.workout-size {
    height: 500px; 
    width: 1200px;
}