.image-resizer {
    margin-top: 20px;
    margin-right: -20px; 
    margin-left: 23px;
}

.text-colorise{
   color:darkorange
}

.workout-size {
    height: 500px; 
    width: 1200px;
}

.text-inside{
    color:ghostwhite;
    font-style: initial;
    justify-content: center;
    width: 50%;
}

.box {
    background: darkorange;
    width: 55%;
    margin: auto;
    padding: 18px;
}

.cursor{
    cursor:pointer;
}

.orangebackground {
    background-color: darkorange;
}

.icon{
   color: darkorange;
}

.icon:hover {
    background-color: darkorange;
    color:whitesmoke;
    cursor:pointer;
}

.img-coach {
    width: 285px;
    height: 288px;
    object-fit: cover;
}

.img-workoutlist {
    width: 400px;
    height: 330px;
    object-fit: cover;
}

.img-workout {
    width: 350px;
    height: 270px;
    object-fit: cover;
}

.btn-resize {
    margin-right:90px;
    margin-left:90px; 
    margin-bottom:10px;
}